@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
     @apply px-3
}

.bg-primary {
  background-color: blue;
}

.bg-secondary {
  background-color:indigo;
}

.mobile-nav {
  @apply fixed top-10 left-0 bg-gray-950 w-full h-1/4;
}

.mobile-nav li {
  @apply w-full h-full text-center border-b-2;
}

.btn {
  @apply bg-primary px-5 py-2 font-bold hover:border-2 border-white rounded;
}

  
  html {
    scroll-behavior: smooth;
  }